@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;  /* Ally: increased font size */
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  /* Responsiveness: added viewport sizing */
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100%; /* Responsive Styling: updated height */
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
  padding: 25px 20px; /* Responsive Styling */
}
nav h1 a {
  color: #fff;
  font-size: 20px; /* Ally: increased font size */
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 20px;
    margin: 0;
    max-width: 100%; /* Responsive Styling */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /* Responsiveness: updated filter option header section to be more dynamic */
  width: 100%;
  height: 100%;
  padding: 15px 0; /* Styling: increased padding */
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 14px; /* Ally: increased font size */
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  /* Responsiveness: added flexbox structure */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  /*min-height: 380px;*/
  padding: 0 30px 25px;
  text-align: left;
  /* Responsiveness: added maximum width for desktop view to each list item; 80% base width for small devices */
  max-width: 475px;
  width: 80%;
}
/* Responsiveness: added additional viewport sizings on RESTAURANT LIST page */
@media only screen and (min-width: 0px) {
  #restaurants-list li {
    max-width: 100%;
  }
  #restaurants-list li p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 715px) {
  #restaurants-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #restaurants-list li {
    min-height: 375px;
    max-width: 250px;
  }
  #restaurants-list li p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1050px) {
  #restaurants-list li {
    max-width: 275px;
  }
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /* min-height: 248px; */ /* Styling: removed height restriction */
  min-width: 100%;
  overflow: hidden; /* Styling: images update */
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 14px; /* Ally: increased font size */
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/*Responsiveness: Added sizing alignment */
.inside {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
/* Responsiveness: Added flexbox */;
#maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inside header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 200px;
  width: 100%;
  /*right: 0px;*/
  /*position: fixed;*/
  /*top: 80px;*/
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/*
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
*/
#name-cuisine-img {
  width: 50%;
  margin-top: 25px;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 0;
  margin: 5px 5px 5px 5px;
  text-transform: uppercase;
  /*text-align: center; */
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
#reviews-container {
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  /*padding: 30px 40px 80px;*/
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 0pt;
  margin-top: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
  width: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}
#reviews-list li {
  background-color: #fff;
    /*border: 2px solid #f3f3f3;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: inherit;
  padding: 5px 5px 5px 5px;
  /*position: relative;*/
  /*width: 100%;*/
}
#reviews-list li p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#restaurant-hours td {
  color: #666;
  font-size: 14px;
  width: auto;
  padding: 5px;
}
/* Responsiveness: added additional viewport sizings on REVIEWS DETAILS page */
@media only screen and (min-width: 0px) {
  .inside #breadcrumb {
    font-size: 10px;
    padding: 5px 20px 8px;
  }
  #restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    /*justify-content: center;*/
  }
  #restaurant-name {
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  #restaurant-cuisine {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #restaurant-img {
    width: 100%;
    max-height: 400px;
  }
  #name-cuisine-img {
    width: 100%;
    margin: 10px 10px 10px 10px;
  }
  #restaurant-address {
  font-size: 16px;
  }
  #restaurant-hours {
    padding-left: 50px;
  }
  #restaurant-hours td {
    color: #666;
    font-size: 14px;
    width: auto;
    padding: 5px;
  }
  #loc-hours {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  #reviews-container h2 {
  font-size: 18pt;
  }
  #reviews-list li {
  margin: 0 0 15px;
  padding: 5px 5px 5px 5px;
  /*position: relative;*/
  /*width: 100%;*/
  }
  #reviews-list li p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 500px) {
  #restaurant-img {
    width: 50%;
    max-height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #restaurant-address {
    font-size: 18px;
  }
  #restaurant-hours {
    padding-left: 100px;
  }
  #restaurant-hours td {
    font-size: 16px;
  }
  #reviews-list {
    max-width: 500px;
  }
  #reviews-list li p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 750px) {
  #restaurant-img {
    width: 50%;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #restaurant-hours {
    padding-left: 150px;
  }
  #restaurant-hours td {
    margin-left: 100px;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1100px) {
  #restaurant-img {
    max-height: 650px;
  }
  #restaurant-hours {
    padding-left: 300px;
}